.modal {
display: none; 
position: fixed;
z-index: 1;
padding-top: 100px;
left: 0;
top: 0;
width: 100%; 
height: 100%;
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4);
}
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}
.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
.layout_ace {
display: flex;
flex-direction: column;
background-color: white;
width: stretch;
height: stretch;
align-items: center;
white-space: nowrap;
overflow-x: auto;
}
.layout_pa {
display: flex;
background-color: white;
width: stretch;
height: stretch;
align-items: center;
}
.layout_pa_p {
display: flex;
flex-direction: column;
background-color: white;
width: stretch;
height: stretch;
align-items: center;
}
.p_sideAce {
display: flex;
background-color: violet;
width: 100px;
height: 150px;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 1px;
margin-left: 1px;
padding: 0px;
font-size: 10px;
justify-content: center;
align-items: center;
}
.p_sideA {
display: flex;
background-color: blue;
width: 100px;
height: 150px;
margin-top: 2px;
margin-bottom: 0px;
margin-right: 1px;
margin-left: 1px;
padding: 0px;
font-size: 10px;
justify-content: center;
align-items: center;
}
.p_sideA_compact {
display: flex;
background-color: blue;
width: 39px;
height: 100px;
margin-top: 2px;
margin-bottom: 0px;
margin-right: 1px;
margin-left: 1px;
padding: 0px;
font-size: 10px;
justify-content: center;
align-items: center;
}
.p_sideB {
display: flex;
background-color: lightpink;
width: 100px;
height: 150px;
margin-top: 2px;
margin-bottom: 0px;
margin-right: 1px;
margin-left: 1px;
padding: 0px;
font-size: 10px;
justify-content: center;
align-items: center;
}
.p_sideB_compact {
display: flex;
background-color: lightpink;
width: 39px;
height: 100px;
margin-top: 2px;
margin-bottom: 0px;
margin-right: 1px;
margin-left: 1px;
padding: 0px;
font-size: 10px;
justify-content: center;
align-items: center;
}
.p_apt_ver {
display: flex;
flex-direction: column;
width: stretch;
height: stretch;
align-items: center;
}
.p_apt_hor {
display: flex;
width: stretch;
height: stretch;
align-items: center;
}
.p_apt_name {
display: flex;
background-color: lightgreen;
width: 13px;
height: 13px;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 1px;
margin-left: 1px;
padding: 0px;
font-size: 10px;
justify-content: center;
align-items: center;
}
.p_apt_text {
display: flex;
background-color: white;
width: 13px;
height: 13px;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 1px;
margin-left: 1px;
padding: 0px;
font-size: 10px;
justify-content: center;
align-items: center;
}

